@section Styles {
  <link href="~/css/adminLayout.css" rel="stylesheet" type="text/css" />
}

@{
  Layout = "_MainLayout";

  ViewData["Title"] = "Admin";

  string pageUrl = Context.Request.Path;

  var dropdowns = new[] {
    new {
      BaseUrl = "/Admin/User",
      Label = "User",
      Items = new [] {
        new {
          Url = "ListUser",
          Text = "User list",
          Icon = "users"
        },
        new {
          Url = "CreateUser",
          Text = "Create user",
          Icon = "plus"
        },
      }
    },
    new {
      BaseUrl = "/Admin/Category",
      Label = "Category",
      Items = new [] {
        new {
          Url = "ListCategory",
          Text = "Category list",
          Icon = "tags"
        },
        new {
          Url = "CreateCategory",
          Text = "Create category",
          Icon = "plus",
        },
        new {
          Url = "UpdateCategory",
          Text = "Update category",
          Icon = "edit",
        },
      }
    }
  };
}

<div class="admin-layout">
  <!-- Sidebar -->
  <nav class="admin-layout__sidebar">
    <ul class="list-unstyled components">
      @foreach (var dropdown in dropdowns)
      {
        var dropdownIsActive = pageUrl.StartsWith(dropdown.BaseUrl);
        var activeLabelClass = dropdownIsActive ? "active" : "";
        var showDropdownClass = dropdownIsActive ? "show" : "";
        var randomId = "ID-" + Guid.NewGuid().ToString("N");

        <li class="sidebar-dropdown">
          <a
            href="#@randomId"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle sidebar-dropdown__label @activeLabelClass"
          >
            @(dropdown.Label)
          </a>

          <ul
            class="collapse list-unstyled sidebar-dropdown__items @showDropdownClass"
            id="@randomId"
          >
            @foreach (var item in dropdown.Items)
            {
              var url = dropdown.BaseUrl + "/" + item.Url;

              <li class="sidebar-dropdown__item">
                <a href="@url" class="@(url == pageUrl ? "active" : "")">
                  <i class="fas fa-@(item.Icon)"></i>
                  <span>@(item.Text)</span>
                </a>
              </li>
            }
          </ul>
        </li>
      }
    </ul>
  </nav>

  <!-- Page Content -->
  <div class="admin-layout__content">
      @RenderBody()
  </div>
</div>    



