@section Styles {
  <partial name="_ValidationScriptsPartial" />
  <link href="~/css/admin-layout.css" rel="stylesheet" type="text/css" />
}

@section scripts{
  <partial name="_ValidationScriptsPartial" />
}

@RenderSection("scripts", false)
@RenderSection("styles", false)

@{
  Layout = "_MainLayout";

  ViewData["Title"] = "Admin";

  string pageUrl = Context.Request.Path;

  var dropdowns = new[] {
    new {
      BaseUrl = "/Admin/User",
      Icon = "users",
      Label = "User",
      Items = new [] {
        new {
          Url = "ListUser",
          Text = "User list",
          Icon = "users"
        },
        new {
          Url = "CreateUser",
          Text = "Create user",
          Icon = "plus"
        },
      }
    },
    new {
      BaseUrl = "/Admin/Category",
      Icon = "tags",
      Label = "Category",
      Items = new [] {
        new {
          Url = "ListCategory",
          Text = "Category list",
          Icon = "tags"
        },
        new {
          Url = "CreateCategory",
          Text = "Create category",
          Icon = "plus",
        },
      }
    }
  };
}

<div class="row w-100 my-n3 mx-0">
  <!-- Sidebar -->
  <nav class="h-100 border-right bg-light p-3" style="width: 200px">
    <ul class="list-unstyled">
      @foreach (var dropdown in dropdowns)
      {
        var dropdownIsActive = pageUrl.StartsWith(dropdown.BaseUrl);
        var activeLabelClass = dropdownIsActive ? "active" : "";
        var showDropdownClass = dropdownIsActive ? "show" : "";
        var randomId = "ID-" + Guid.NewGuid().ToString("N");

        <li class="sidebar-dropdown">
          <a
            href="#@randomId"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle sidebar-dropdown__label @activeLabelClass"
          >
            @(dropdown.Label)
          </a>
  
          <ul
            class="collapse list-unstyled sidebar-dropdown__items @showDropdownClass"
            id="@randomId"
          >
            @foreach (var item in dropdown.Items)
            {
              var url = dropdown.BaseUrl + "/" + item.Url;

              <li class="sidebar-dropdown__item">
                <a href="@url" class="@(url == pageUrl ? "active" : "")">
                  <i class="fas fa-@(item.Icon) fa-fw"></i>
                  <span>@(item.Text)</span>
                </a>
              </li>
            }
          </ul>
        </li>
      }
    </ul>
  </nav>

  <!-- Page Content -->
  <div class="col pt-3 pr-0 pb-3 pl-3 overflow-auto">
    @RenderBody()
  </div>
</div>    



