@section Styles {
  <partial name="_ValidationScriptsPartial" />
  <link href="~/css/admin-layout.css" rel="stylesheet" type="text/css" />
}

@section scripts{
  <partial name="_ValidationScriptsPartial" />
}

@RenderSection("scripts", false)
@RenderSection("styles", false)

@{
  Layout = "_MainLayout";

  ViewData["Title"] = "Admin";

  string pageUrl = Context.Request.Path;

  var links = new[] {
    new {
      Url = "/Admin/Users/Index",
      Icon = "users",
      Label = "Users",
    },
    new {
      Url = "/Admin/Categories/Index",
      Icon = "tags",
      Label = "Categories",
    },
    new {
      Url = "/Post/ListPost",
      Icon = "list",
      Label = "Posts",
    },
  };
}

<div class="row w-100 my-n3 mx-0">
  <!-- Sidebar -->
  <nav class="h-100 border-right bg-light py-3" style="width: 200px">
    <ul class="list-unstyled">
      @foreach (var link in links) {
        var activeLabelClass = pageUrl.StartsWith(link.Url) ? "active" : "";

        <a href="@link.Url" class="sidebar-link d-block h5 px-3 py-2 @activeLabelClass">
          <i class="fas fa-@(link.Icon) fa-fw mr-2"></i>@(link.Label)
        </a>
      }
    </ul>
  </nav>

  <!-- Page Content -->
  <div class="col pt-3 pr-0 pb-3 pl-3 overflow-auto">
    @RenderBody()
  </div>
</div>    



