@model List<Bloggie.Models.User>
<h1>User List</h1>
<table class="table " style="text-align: center;">
   <tr>
      <th>Email</th>
      <th>FullName</th>
      <th>Role</th>
      <th>Name of Role</th>
      <th>Active</th>
      <th>Status</th>
   </tr>
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Email</td>
        <td>@user.FullName</td>
        <td>

                <form asp-page-handler="ChangeRole" method="post">
                <input type="hidden" name="idChangeRole" value="@user.Id" >
                <button class="form-control" type="submit" style="border-radius: 15px;">Change Role</button>
                </form> 
                
        </td>
        <td>@user.Role</td>
        <td>

                <form asp-page-handler="ChangeActive" method="post">
                <input type="hidden" name="idChangeActive" value="@user.Id" >
                <button class="form-control" type="submit" style="border-radius: 15px;">Change Active</button>
                </form> 
                
        </td>
        <td>@user.Active</td>
    </tr>
    }
</table>