@page
@model Bloggie.Pages.CreatePostModel
@{
    Layout="_MainLayout";
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
    <script src="~/js/taxonomy.min.js"></script>
}
@section Styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/post.css">
}

<div class="container">
    <h1 class="display-4">Create Post</h1>
    <form action="" method="post"><br>
        @* Tiêu đề *@
        <input class="form-control" asp-for="@Model.title" placeholder="Post Title"> <br>

        @* Danh sách thể loại ( chỉ chọn 1 )*@
        <div class="row no-gutters">
            <div class="form-group col-md-2">
                <select class="form-control" asp-for="@Model.categoryId" asp-items="@Model.categories">
                </select> <br>
            </div>
        </div>

        @* Nội dung post *@
        <h4 class="font-weight-normal">Post Content</h4> <br>
        <textarea class="ck-content" id="content" asp-for="@Model.content" cols="30" rows="10"></textarea> <br>

        @* Tags của post *@
        <h4 class="font-weight-normal">Tags </h4>

        @*Input ẩn truyền giá trị cho model*@
        <input id="tags" type="text" asp-for="@Model.tags" hidden>

        @*Thêm tag*@
        <ul id="my-tags" class="tag-cloud list-inline row"></ul>

        @* Submit form *@
         <button class="btn btn-primary m-1" type="submit">Create post</button>

    </form>
</div>
<script>
    /*Khi nhấn submit form các tags sẽ được lưu vào tags[] và đưa tags[] vào input tags*/
    $('form').submit(function () {
        //mảng chứa các tag 
        tags=[];
        $("#my-tags li a").each(function () {
            //Thêm vào mảng
            tags.push($(this).attr('data-tag-slug'));
        });
        
        //Lưu vào ô input
        $('#tags').val(tags.join(','));
    })

    /*Script tags*/
    $('#my-tags').taxonomy_jquery();
    $('#my-second-tags').taxonomy_jquery({
        createButton:false,
        hiddenFieldName:'my-second-tags[]'
    });
    

    //CKEditor
    ClassicEditor
        .create(document.querySelector('#content'))
        .catch(error => {
        console.error(error);
    });

</script>