@page
@model Bloggie.Pages.CreatePostModel
@{
  Layout = "_MainLayout";
}

@section Styles {
  <link rel="stylesheet" href="~/css/posts.css">
}

@section Scripts {
  <script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
}

<div class="display-4 text-center">
  Create Post
</div>

<form action="" method="post"><br>
  Title: <input asp-for="@Model.title"> <br>

  @* Danh sách thể loại ( chỉ chọn 1 ) *@
  <select asp-for="@Model.categoryId" asp-items="@Model.categories">
  </select> <br>

  @* Nội dung post *@
  Content: <br>
  <textarea id="content" asp-for="@Model.content" cols="30" rows="10"></textarea> <br>

  @* Tags của post *@
  Tags <span id="showTags"></span>
  <input id="tags" type="text" asp-for="@Model.tags" hidden>
  @* Các ô nhập tag *@
  <div id="div">
      <input type="text" name="input[]" id="">
  </div>

  @* Thêm ô để nhập tag *@
  <input type="button" value="Add" id="add">
  @* Lưu tags *@
  <input type="button" value="Save" id="save"> <br>

  @* Submit form *@
  <input type="submit" value="Submit">
</form>

<script>
  $('#add').click(function () {
      $("#div").last().append('<input type="text" name="input[]" id="">')
  })

  $('#save').click(function () {
      tags=[]; //mảng chứa các tag
      //Lấy input theo tên
      $("input[name='input[]']").each(function () {
          //Thêm vào mảng
          tags.push($(this).val());
      });
      //Lưu vào ô input
      $('#tags').val(tags.join(','));
      //Hiện thị
      $('#showTags').html(tags.join(','));
  })


  // CKEditor
  ClassicEditor
    .create(document.querySelector('#content'))
    .catch(error => {
      console.error(error);
    });
</script>