@page
@model Bloggie.Pages.ListPostModel
@{
  Layout = "_MainLayout";
}

@section Scripts {
  <script src="~/js/confirmDelete.js"></script>
  <script>
    function handleDelete(form) {
      confirmDelete({
        form: form,
        title: "Delete post?",
        message: "Are you sure you want to delete this post?",
      });
    }
  </script>
}

<div class="container">
  <div class="mb-3">
    <div class="d-inline-block display-4 mr-3">Posts</div>
    <a class="btn btn-success btn-sm align-text-bottom ml-auto" href="/Post/CreatePost">
      <i class="fas fa-plus"></i>
      Create Post
    </a>
  </div>
  
  @if(Model.ErrorMessage != null){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      @Model.ErrorMessage
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  }

  @* Thông tin cần có *@
  <div class="bloggie-datatable">
    <table class="table">
      <thead>
        <tr>
          <th>
            <div>Title</div>
          </th>
          <th>
            <div>Category</div>
          </th>
          <th>
            <div>CreatedAt</div>
          </th>
          <th>
            <div>Status</div>
          </th>
          <th>
            <div>Handling</div>
          </th>
          <th>
            <div>Delete</div>
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var post in Model.Posts)
        {
          //Biến này dùng để lưu trữ trạng thái tiếp theo của Post( Post State)
          int state = -1;
          <tr>
            <td>@post.Title</td>
            <td>@post.Category.Name</td>
            <td>@post.CreatedAt.ToShortDateString()</td>
            <td>@post.State</td>
            <td>
              @* Draft thành Pending
                Published thành Unpublished *@
              @if (post.State == Bloggie.Models.PostState.Draft || post.State == Bloggie.Models.PostState.Published)
              {
                //Trạng thái tăng 1
                state = (int)@post.State + 1;
              }
              @* Pending thành Draft
                Rejected thành Pending
                Unpublished thành Published *@
              else
              {
                //Trạng thái giảm 1
                state = (int)@post.State - 1;
              }
              <form action="" method="post">
                @* id dùng để xác định post *@
                <input asp-for="postId" value="@post.Id" hidden>
                @* Tên trạng thái tiếp theo *@
                <button class="btn btn-primary btn-rounded" type="submit">@((Bloggie.Models.PostState)state)</button>
              </form>
            </td>
            <td>
              <form id="delete-category" method="POST" asp-page-handler="Delete">
                <input type="hidden" name="id" value="@post.Id">

                <button type="button" class="btn btn-round btn-danger btn-sm" onclick="handleDelete(this.form)">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>