@page
@model Bloggie.Pages.Admin.CreateUserModel

@{
  Layout = "_AdminLayout";
}

<div class="container">
  <h2>Create Account</h2>
  <form method="post" class="needs-validation" novalidate>
    @* Các thông tin bắt buộc phải có *@
    <div class="form-group">
      <label>Email:</label>

      <input asp-for="@Model.User.Email" class="form-control" style="border-radius: 10px;" placeholder="Email..."
      required>

      <div class="invalid-feedback">Email is required! Please enter a valid email address!
</div>
    </div>

    <div class="form-group">
      <label>Name:</label>

      <input asp-for="@Model.User.FullName" class="form-control" style="border-radius: 10px;" placeholder="Fullname..."
      required>

      <div class="invalid-feedback">Full name is required.</div>
    </div>

    <div class="form-group">
      <label>Password:</label>

      <input asp-for="@Model.User.Password" class="form-control" style="border-radius: 10px;" placeholder="Password..."
      required>

      <div class="invalid-feedback">Password is required.</div>
    </div>

    <div class="form-group">
      <label for="cars">Choose a Role:</label>

      <select asp-for="@Model.User.Role"
style="width: 150px; height: 35px; border-color:	#C0C0C0; outline: none; border-radius: 10px;">
        @{
          foreach (Bloggie.Models.UserRole role in Enum.GetValues(typeof(Bloggie.Models.UserRole)))
          {
            if (role == Models.UserRole.Admin)
            {
              continue;
            }
            <option asp-value="role">@role</option>
          }

        }
        </select>
      </div>

      @if (@Model.ErrorMessage != null) {
				<div class="alert alert-danger alert-dismissible fade show" role="alert" style="border-radius: 10px;">
					<strong>Error:</strong> @Model.ErrorMessage
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
			}

      <button type="submit" class="btn btn-primary" style="border-radius: 10px;">
        Create
      </button>
    </form>
  </div>

  <script src="~/js/Validation.js"></script>
