@page
@model Bloggie.Pages.Admin.ListUserModel

@using Bloggie.Models;

@{
  Layout = "_AdminLayout";
}

@section Styles {
   <link href="~/css/table.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
  <script src="@Url.Content("~/js/ListUser.js")"></script>
}
<div class="container">
  <div class="mb-3">
    <div class="d-inline-block display-4 mr-3">Users</div>

    <a class="btn btn-success btn-sm align-text-bottom ml-auto" href="/Admin/Users/Create">
      <i class="fas fa-plus"></i>
      Create User
    </a>
  </div>

  <div class="bloggie-datatable">
    <table class="table table-fixed" style="text-align: center;">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th class="pr-5">Moderator</th>
          <th class="pr-5">Locked</th>
        </tr>
      </thead>
      
      <tbody>
        @foreach (var user in Model.Users) {
          <tr>
            <td>@user.Email</td>

            <td>@user.FullName</td>

            <td class="text-center">
              <form asp-page-handler="ChangeRole" method="post">
                <input hidden name="userId" value="@user.Id">
                <div class="custom-control custom-switch">
                  <input hidden checked="@(user.Role == UserRole.Moderator)" onchange="this.form.submit()" type="checkbox" class="custom-control-input" id="toggle-moderator-@user.Id">
                  <label class="custom-control-label" for="toggle-moderator-@user.Id"></label>
                </div>
              </form>
            </td>

            <td class="text-center">
              <form asp-page-handler="ChangeActive" method="post">
                <input hidden name="userId" value="@user.Id">

                <button type="submit" class="btn btn-round btn-sm @(user.Active ? "btn-secondary" : "btn-danger")">
                  <i class="fas @(user.Active ? "fa-unlock" : "fa-lock")"></i>
                </button>
              </form>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>